
.container {
  position: relative;
  overflow-x: hidden;
}

.hamburger-menu {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 999;
  cursor: pointer;
}

.hamburger {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin-bottom: 5px;
  transition: transform 0.3s ease;
}

.open .hamburger:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.open .hamburger:nth-child(2) {
  opacity: 0;
}

.open .hamburger:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.menu {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: left 0.3s ease;
}

.menu.open {
  left: 0;
}
p {
  margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    line-height: 1.25;
    font-weight: 400;
}
.wrapper {
    min-width: 1440px;
}
.container {

    min-width: 1140px;
}
.redBanner {
    background: red;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.redBanner a {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
}

header .searchField {
    border: 1px solid black;
    padding: 10px;
=======
    max-width: 1140px;
}

