

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    line-height: 1.25;
    font-weight: 400;
}
.wrapper {
    min-width: 1440px;
}

.redBanner {
    background: red;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.redBanner a {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}
header .startMenu {
    display: flex;
}

header .searchField {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    max-width: 1140px;
    width: 1000px;
    /* padding: 10px; */
    
}
header .searchField input {
    flex-grow: 1;
    padding: 10px;
}

.breadCrumbs {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 14px;
    gap: 100px;
}

.container {
    display: flex;
    min-width: 1140px;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

.container .filterDiv {
    display: flex;
    flex-direction: column;
}


.cardContainer {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    gap: 12px;
}

.card {
    width: 150px;
    height: 250px;
    border: 1px solid black;
    text-size-adjust: 100%;
    line-height: 20px;
    font-size: 16px;
    
}
.card img {
    object-fit: fill;
    width: 100%;
    height: 70%;

}

.btn {
    background: red;
    color: white;
    border: 10px;
    width: 100%;
}
